#Ignorar los LOGS
/LOGS
/LogReader/LOG_API/*

#Ignorar los ejecutables
/LogReader/bin/*
/LogReaderApp/bin/*

#Ignorar los obj
/LogReader/obj/*
/LogReaderApp/obj/*
/packages/*
/vs/*
*.dll
*.pdb
*.cache
